# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.unsuccessfulbuild
*.vspscc

# Logs
*.log

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/

# IDE folders
.vs/
GeneratedFiles/

# Temporary files
[Tt]emp/
*.tmp
*.obj
*.pch
*.bak
*.ncb
*.pyc
*.class
